@model Area
@{
    this.ViewData["Title"] = "Delete Area";
    this.ViewData["Icon"] = "bi bi-globe";
}

<form method="post" asp-area="Admin" asp-controller="Areas" asp-action="DeletePost" asp-route-id="@this.Model.AreaId">
    <fieldset disabled>
        <partial name="_AreaFields" model="@this.Model"/>
    </fieldset>
    <div class="mt-3 col text-center">
        <button type="submit" class="btn btn-danger" disabled="@(this.Model.ParentAreaId == null)">Delete</button>
        <a asp-action="Index" asp-controller="Areas" asp-area="Admin" class="btn btn-secondary">Cancel</a>
    </div>
</form>