@model (ArticleDetail ArticleDetail, ArticleMedia ArticleMedia)
@{
    this.ViewData["Title"] = "Delete Article Media";
    this.ViewData["Icon"] = "bi bi-collection";
}

<partial name="_ArticleDetailFields" model="@this.Model.ArticleDetail" />
<fieldset disabled class="mb-3">
    <partial name="_MediaFields" model="@this.Model.ArticleMedia" />
</fieldset>

<form method="post" asp-area="Articles" asp-controller="Media" asp-action="DeletePost" asp-route-articleMediaId="@this.Model.ArticleMedia.ArticleMediaId" asp-route-articleDetailId="@this.Model.ArticleMedia.ArticleDetailId">
    <div class="text-center">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" asp-controller="Home" asp-area="Articles" class="btn btn-secondary">Cancel</a>
    </div>
</form>