$top-bar-links-bg-color: var(--top-bar-links-bg-color);
$top-main-menu-bar-bg-color: var(--top-main-menu-bar-bg-color);
$copyrights-bg-color: var(--copyrights-bg-color);
$footer-texture-bg-image: var(--footer-texture-bg-image);
$footer-texture-bg-color: var(--footer-texture-bg-color);

$left-menu-width: 200px;
$right-menu-width: 200px;
