.text-uppercase {
    text-transform: uppercase;
}

.line-bottom {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.line-bottom:after, .line-bottom-center:after {
    background: #ecad06 !important;
}

.line-bottom:after {
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}

.pl-50 {
    padding-left: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.bg-gray {
    background: #f7f7f7 !important;
}