<div class="modal fade modal-lg" id="googleSearchModal" tabindex="-1" aria-labelledby="googleSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <script async src="https://cse.google.com/cse.js?cx=42670d91b754346df">
                </script>
                <div class="gcse-search"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
