@model Area
@if (this.Model.ParentAreaId == null)
{
    <div class="bg-light bg-opacity-10 p-3">
        <h4 class="line-bottom text-uppercase">
            <span class="text-bg-light" title="Bahria University">BU</span> <span class="text-info">Recognition & Accreditation</span>
        </h4>
        <div class="row g-2">
            <img class="col-xl-2 col-sm-4" src="~/images/RecognitionAndAccreditation/hec.png" alt="HEC"/>
            <img class="col-xl-2 col-sm-4" src="~/images/RecognitionAndAccreditation/nbeac.png" alt="NBEAC"/>
            <img class="col-xl-2 col-sm-4" src="~/images/RecognitionAndAccreditation/nceac.png" alt="NCEAC"/>
            <img class="col-xl-2 col-sm-4" src="~/images/RecognitionAndAccreditation/pbr.png" alt="PBR"/>
            <img class="col-xl-2 col-sm-4" src="~/images/RecognitionAndAccreditation/pec.png" alt="PEC"/>
            <img class="col-xl-2 col-sm-4" src="~/images/RecognitionAndAccreditation/pmdc.png" alt="PMC"/>
        </div>
    </div>
}